
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta name="keywords" content="音乐,QQ音乐,在线听歌,音乐下载,音乐播放器,音乐网站,MV,巅峰榜,音乐排行榜,翻译歌曲,热门歌曲,经典老歌,无损音乐,无损曲库"/>
    <meta name="description" content="QQ音乐是腾讯公司推出的一款网络音乐服务产品，海量音乐在线试听、新歌热歌在线首发、歌词翻译、手机铃声下载、高品质无损音乐试听、海量无损曲库、正版音乐下载、空间背景音乐设置、MV观看等，是互联网音乐播放和下载的优选。" />
    <meta name="mobile-agent" content="format==[html5];url=https://y.qq.com/m/index.html">
    <meta name="applicable-device" content="pc">
    <meta name="baidu-site-verification" content="Fweqope0cK" />
    <title>QQ音乐-千万正版音乐海量无损曲库新歌热歌天天畅听的高品质音乐平台！</title>
    <link rel="canonical" href="//y.qq.com/" />
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>


    <link rel="stylesheet" href="//y.gtimg.cn/mediastyle/yqq/layout0115.css?max_age=25920000" />
    <link rel="stylesheet" href="//y.gtimg.cn/mediastyle/yqq/index0913.css?max_age=25920000" />

</head>

<body>
<!-- 头部 S -->

<script>
    if(window.ActiveXObject || window.msIsStaticHTML){
        var ie = 6;

        if(!!window.XMLHttpRequest) {ie = 7};
        if(navigator.userAgent.indexOf("MSIE 7.0")!=-1) {ie = 7};
        if(navigator.userAgent.indexOf("Trident/4.0")!=-1){ie = 8};
        if(navigator.userAgent.indexOf("Trident/5.0") != -1){ie = 9};
        if(navigator.userAgent.indexOf("Trident/6.0") != -1){ie = 10};
        if(navigator.userAgent.indexOf("Trident/7.0") != -1 || "undefined" == typeof attachEvent){ie = 11};
        if (ie < 8) {
            document.write("<div class=\"popup_top\"  id=\"zoom_warn\">使用更高版本的 <a href=\"http://www.google.cn/intl/zh-CN/chrome/browser/desktop/\" target=\"_blank\">Chrome</a> 或 <a href=\"https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads\" target=\"_blank\">Internet Explorer</a>，体验更精彩</div>");
        }
    }</script>
<div class="mod_header">
    <div class="section_inner">
        <h1 class="qqmusic_title"><a href="//y.qq.com"><img srcset="//y.gtimg.cn/mediastyle/yqq/img/logo@2x.png?nowebp=1 2x" src="//y.gtimg.cn/mediastyle/yqq/img/logo.png?nowebp=1" alt="QQ音乐" class="qqmusic_logo"/></a></h1>
        <!-- 导航 S -->
        <ul class="mod_top_nav" role="nav">
            <li class="top_nav__item">
                <a href="//y.qq.com" class="top_nav__link top_nav__link--current" title="音乐馆">音乐馆</a>
            </li>
            <li class="top_nav__item">
                <a href="mymusic" class="top_nav__link" title="我的音乐">我的音乐</a>
            </li>



        </ul>
        <ul class="mod_top_subnav" style="display:;">
            <li class="top_subnav__item">
                <a href="index" class="top_subnav__link">首页</a>
            </li>
            <li class="top_subnav__item">
                <a href="music" class="top_subnav__link">歌曲</a>
            </li>
            <li class="top_subnav__item">
                <a href="Album" class="top_subnav__link">专辑</a>
            </li>

            <li class="top_subnav__item">
                <a href="musiclist" class="top_subnav__link">歌单</a>
            </li>



        </ul>
        <!-- 导航 E -->
        <div class="mod_top_search" role="search">
            <div class="mod_search_input">
                <input class="search_input__input" aria-label="请输入搜索内容" type="text" placeholder="" accesskey="s"/>
                <button class="search_input__btn"><i class="icon_search sprite"></i><span class="icon_txt">搜索</span></button>
            </div>
        </div>
        <div class="header__opt">


            <!-- 未登录 -->

            <!-- 用户信息 -->
            <div class="popup_user">
            </div>
        </div>
    </div>
</div>
<!-- 头部 E -->

<!-- 热门歌单 -->
<div class="mod_index mod_index--hot mod_slide_box mod_bg" id="taogelist_box">
    <div class="section_inner">
        <div class="index__hd">
            <h2 class="index__tit"><i class="icon_txt">歌单推荐</i></h2>
        </div>
        <!-- 切换 -->
        <div class="mod_index_tab" data-stat="y_new.index.playlist">
            <a href="javascript:;" class="index_tab__item index_tab__item--current js_tag" data-index="0" data-type="recomPlaylist" data-id="1">为你推荐</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="3215">咖啡馆</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="48">民谣</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="81">劲爆DJ</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="71">情歌</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="3056">网络歌曲</a>

        </div>

        <div class="mod_playlist mod_slide">
            <ul class="playlist__list slide__list" style="left:0%;">

                <li class="playlist__item slide__item" onmouseover="this.className=(this.className+' playlist__item--hover')" onmouseout="this.className=this.className.replace(/ playlist__item--hover/, '')" data-disstid="4255737918">
                    <div class="playlist__item_box">
                        <div class="playlist__cover mod_cover">
                            <a  href="/index.ejs/y.qq.com/n/yqq/playsquare/4255737918.html#stat=y_new.index.playlist.pic" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic"  data-disstid="4255737918">
                                <img src="http&#58;&#47;&#47;p&#46;qpic&#46;cn&#47;music_cover&#47;ibSiagqKjw1zfTgxY7F8CfE88ExkFHyeT3d5YOPMhClTaArs5vDOLckg&#47;300&#63;n&#61;1" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/playlist_300.png?max_age=31536000';this.onerror=null;" alt="每日新歌：胡夏新歌上演另类回忆杀" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play js_play"></i>
                            </a>
                        </div>
                        <h4 class="playlist__title">

                            <span class="playlist__title_txt"><a href="/index.ejs/y.qq.com/n/yqq/playsquare/4255737918.html#stat=y_new.index.playlist.name" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic" data-disstid="4255737918">每日新歌：胡夏新歌上演另类回忆杀</a></span>

                        </h4>
                        <div class="playlist__other">
                            播放量：2.8万
                        </div>
                    </div>
                </li>

                <li class="playlist__item slide__item" onmouseover="this.className=(this.className+' playlist__item--hover')" onmouseout="this.className=this.className.replace(/ playlist__item--hover/, '')" data-disstid="4256410042">
                    <div class="playlist__item_box">
                        <div class="playlist__cover mod_cover">
                            <a  href="/index.ejs/y.qq.com/n/yqq/playsquare/4256410042.html#stat=y_new.index.playlist.pic" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic"  data-disstid="4256410042">
                                <img src="http&#58;&#47;&#47;p&#46;qpic&#46;cn&#47;music_cover&#47;1ZdGl7wveVA1a9fU8FWwvBDNUIFFXp4FASCvZLSQibs2pFFhCeaphqw&#47;300&#63;n&#61;1" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/playlist_300.png?max_age=31536000';this.onerror=null;" alt="7月份的尾巴&#44;8月份的前奏&#44;你可能错过的好歌" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play js_play"></i>
                            </a>
                        </div>
                        <h4 class="playlist__title">

                            <span class="playlist__title_txt"><a href="/index.ejs/y.qq.com/n/yqq/playsquare/4256410042.html#stat=y_new.index.playlist.name" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic" data-disstid="4256410042">7月份的尾巴&#44;8月份的前奏&#44;你可能错过的好歌</a></span>

                        </h4>
                        <div class="playlist__other">
                            播放量：8400
                        </div>
                    </div>
                </li>

                <li class="playlist__item slide__item" onmouseover="this.className=(this.className+' playlist__item--hover')" onmouseout="this.className=this.className.replace(/ playlist__item--hover/, '')" data-disstid="3724879080">
                    <div class="playlist__item_box">
                        <div class="playlist__cover mod_cover">
                            <a  href="/index.ejs/y.qq.com/n/yqq/playsquare/3724879080.html#stat=y_new.index.playlist.pic" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic"  data-disstid="3724879080">
                                <img src="http&#58;&#47;&#47;p&#46;qpic&#46;cn&#47;music_cover&#47;PJrGzQib7nia43112ibFrSia1DK8S0ibnDiaEv9vzibKIPZ15TUicOTzeomNibA&#47;300&#63;n&#61;1" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/playlist_300.png?max_age=31536000';this.onerror=null;" alt="「Sax电音」动感旋律，骚气节奏" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play js_play"></i>
                            </a>
                        </div>
                        <h4 class="playlist__title">

                            <span class="playlist__title_txt"><a href="/index.ejs/y.qq.com/n/yqq/playsquare/3724879080.html#stat=y_new.index.playlist.name" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic" data-disstid="3724879080">「Sax电音」动感旋律，骚气节奏</a></span>

                        </h4>
                        <div class="playlist__other">
                            播放量：231.8万
                        </div>
                    </div>
                </li>

                <li class="playlist__item slide__item" onmouseover="this.className=(this.className+' playlist__item--hover')" onmouseout="this.className=this.className.replace(/ playlist__item--hover/, '')" data-disstid="4197148368">
                    <div class="playlist__item_box">
                        <div class="playlist__cover mod_cover">
                            <a  href="/index.ejs/y.qq.com/n/yqq/playsquare/4197148368.html#stat=y_new.index.playlist.pic" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic"  data-disstid="4197148368">
                                <img src="http&#58;&#47;&#47;p&#46;qpic&#46;cn&#47;music_cover&#47;QKCAlQCrzO1He8bMWM7FBET1PibLsKBicEnPJHDFSv20VGbg9F3UInDA&#47;300&#63;n&#61;1" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/playlist_300.png?max_age=31536000';this.onerror=null;" alt="B站百合番追番量排行TOP&#32;25" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play js_play"></i>
                            </a>
                        </div>
                        <h4 class="playlist__title">

                            <span class="playlist__title_txt"><a href="/index.ejs/y.qq.com/n/yqq/playsquare/4197148368.html#stat=y_new.index.playlist.name" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic" data-disstid="4197148368">B站百合番追番量排行TOP&#32;25</a></span>

                        </h4>
                        <div class="playlist__other">
                            播放量：4.3万
                        </div>
                    </div>
                </li>

                <li class="playlist__item slide__item" onmouseover="this.className=(this.className+' playlist__item--hover')" onmouseout="this.className=this.className.replace(/ playlist__item--hover/, '')" data-disstid="4247799290">
                    <div class="playlist__item_box">
                        <div class="playlist__cover mod_cover">
                            <a  href="/index.ejs/y.qq.com/n/yqq/playsquare/4247799290.html#stat=y_new.index.playlist.pic" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic"  data-disstid="4247799290">
                                <img src="http&#58;&#47;&#47;p&#46;qpic&#46;cn&#47;music_cover&#47;K1wMWlXCKHpuvadtQGDIMEz5Vy3ubD8Pqkh4zic6plXotV8aSvNxcFw&#47;300&#63;n&#61;1" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/playlist_300.png?max_age=31536000';this.onerror=null;" alt="时光微醺：悠闲舒适的韩式小调" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play js_play"></i>
                            </a>
                        </div>
                        <h4 class="playlist__title">

                            <span class="playlist__title_txt"><a href="/index.ejs/y.qq.com/n/yqq/playsquare/4247799290.html#stat=y_new.index.playlist.name" onclick="setStatCookie&&setStatCookie();" class="js_playlist" data-stat="y_new.index.playlist.pic" data-disstid="4247799290">时光微醺：悠闲舒适的韩式小调</a></span>

                        </h4>
                        <div class="playlist__other">
                            播放量：3.5万
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="mod_slide_switch js_switch"  data-stat="y_new.index.playlist.pager">
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.playlist.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.playlist.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
        </div>
    </div>
    <div class="mod_slide_action">
        <div class="slide_action slide_action--left">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.playlist.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
        </div>
        <div class="slide_action slide_action--right">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.playlist.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
        </div>
    </div>
</div>

<!-- 新歌首发 -->
<div class="mod_index mod_index--song mod_slide_box js_box mod_bg" id="new_song_box">
    <div class="section_inner">
        <div class="index__hd">
            <h2 class="index__tit"><i class="icon_txt">新歌首发</i></h2>
        </div>
        <a href="javascript:;" class="mod_btn js_all_play"><i class="mod_btn__icon_play js_all_play" data-stat="y_new.index.new_song.playall"></i>播放全部</a>
        <!-- 切换 -->
        <div class="mod_index_tab"  data-stat="y_new.index.new_song">

            <a href="javascript:;" class="index_tab__item index_tab__item--current js_tag" data-type="playlist" data-id="1">内地</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="2">港台</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="3">欧美</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="4">日本</a>

            <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-id="5">韩国</a>

        </div>

        <div class="mod_songlist mod_slide">
            <div class="slide__list js_list" style="left:0%;">
                <ul class="songlist__list">

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="不动声色" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000001eVEHh104feH.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="不动声色">不动声色</a></h3>
                                <p class="songlist__author">


                                    <a title="刘惜君" class="c_tx_thin singer_name">刘惜君</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="最好的那年" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000002WB3Kn4Qq7EK.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="最好的那年">最好的那年</a></h3>
                                <p class="songlist__author">


                                    <a title="TFBOYS" class="c_tx_thin singer_name">TFBOYS</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="夏日风铃" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M0000031pHys4DQ4Yi.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="夏日风铃">夏日风铃</a></h3>
                                <p class="songlist__author">


                                    <a title="汪苏泷" class="c_tx_thin singer_name">汪苏泷</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="偕老" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000004QrG0q2LH1Iv.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="偕老">偕老</a></h3>
                                <p class="songlist__author">


                                    <a title="胡夏" class="c_tx_thin singer_name">胡夏</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="Island&#32;Love" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M0000021cuU73watmC.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="Island&#32;Love">Island&#32;Love</a></h3>
                                <p class="songlist__author">


                                    <a title="窦靖童" class="c_tx_thin singer_name">窦靖童</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="Rep&#32;That&#32;Culture" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000000zRaio2D0cwS.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="Rep&#32;That&#32;Culture&#32;&#40;Live&#41;">Rep&#32;That&#32;Culture&#32;&#40;Live&#41;</a></h3>
                                <p class="songlist__author">


                                    <a title="Al&#32;Rocco" class="c_tx_thin singer_name">Al&#32;Rocco</a>

                                    /
                                    <a title="那吾克热LIL&#45;EM" class="c_tx_thin singer_name">那吾克热LIL&#45;EM</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="心上的茧" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000004OB2uQ3ctvsH.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="心上的茧">心上的茧</a></h3>
                                <p class="songlist__author">


                                    <a title="王凯" class="c_tx_thin singer_name">王凯</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="雪落下的声音" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000001bQaz229r9BN.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="雪落下的声音">雪落下的声音</a></h3>
                                <p class="songlist__author">


                                    <a title="秦岚" class="c_tx_thin singer_name">秦岚</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                    <li class="songlist__item">
                        <div class="songlist__item_box">
                            <a title="岁月神偷" class="album_name songlist__link mod_cover">
                                <img class="songlist__pic" src="//y.gtimg.cn/music/photo_new/T002R90x90M000001be3JQ0CuvTJ.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;">
                                <i class="mod_cover__mask"></i>
                                <i class="mod_cover__icon_play"></i>
                            </a>
                            <div class="songlist__cont">
                                <h3 class="songlist__song"><a title="岁月神偷&#32;&#40;Live&#41;">岁月神偷&#32;&#40;Live&#41;</a></h3>
                                <p class="songlist__author">


                                    <a title="周笔畅" class="c_tx_thin singer_name">周笔畅</a>

                                    /
                                    <a title="陈楚生" class="c_tx_thin singer_name">陈楚生</a>

                                    /
                                    <a title="袁成杰" class="c_tx_thin singer_name">袁成杰</a>

                                    /
                                    <a title="刘惜君" class="c_tx_thin singer_name">刘惜君</a>

                                </p>
                            </div>
                            <div class="songlist__time c_tx_thin"></div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="mod_slide_switch js_switch"  data-stat="y_new.index.new_song.pager">
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.new_song.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">2</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="2"><i class="slide_switch__bg"></i><i class="icon_txt">3</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="3"><i class="slide_switch__bg"></i><i class="icon_txt">4</i></a>
        </div>
    </div>
    <div class="mod_slide_action">
        <div class="slide_action slide_action--left">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.new_song.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
        </div>
        <div class="slide_action slide_action--right">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.new_song.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
        </div>
    </div>
</div>
<!-- 精彩推荐 -->
<div class="mod_index mod_index--event mod_slide_box mod_bg js_box" id="focus_box" style="display:;">
    <div class="section_inner">
        <div class="index__hd">
            <h2 class="index__tit"><i class="icon_txt">精彩推荐</i></h2>
        </div>

        <div class="mod_event mod_slide">
            <ul class="event_list slide__list js_list" style="left:0%;">

                <li class="event_list__item slide__item">
                    <a href="javascript:;" class="event_list__link">
                        <img src="https://y.gtimg.cn/music/common/upload/MUSIC_FOCUS/317649.jpg" class="event_list__pic" />
                    </a>
                </li>

                <li class="event_list__item slide__item">
                    <a href="javascript:;" class="event_list__link">
                        <img src="https://y.gtimg.cn/music/common/upload/MUSIC_FOCUS/317552.jpg" class="event_list__pic" />
                    </a>
                </li>

            </ul>
        </div>
        <div class="mod_slide_switch js_switch"  data-stat="y_new.index.focus.pager">
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.focus.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.focus.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">2</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.focus.pager" data-p="2"><i class="slide_switch__bg"></i><i class="icon_txt">3</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.focus.pager" data-p="3"><i class="slide_switch__bg"></i><i class="icon_txt">4</i></a>
        </div>
    </div>
    <div class="mod_slide_action">
        <div class="slide_action slide_action--left">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.focus.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
        </div>
        <div class="slide_action slide_action--right">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.focus.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
        </div>
    </div>

</div>

<!-- 新碟首发 -->
<div class="mod_index mod_index--album mod_slide_box mod_bg js_box" id="new_album_box" style="display:;">
    <div class="section_inner">
        <div class="index__hd">
            <h2 class="index__tit"><i class="icon_txt">新碟首发</i></h2>
        </div>
        <a href="javascript:;" class="index__more js_more" style="display:none;" data-type="new_album">更多<i class="icon_index_arrow sprite"></i></a>
        <!-- 切换 -->
        <div class="mod_index_tab" data-stat="y_new.index.album">


            <a href="javascript:;" class="index_tab__item index_tab__item--current">内地</a>



            <a href="javascript:;" class="index_tab__item">港台</a>



            <a href="javascript:;" class="index_tab__item">欧美</a>



            <a href="javascript:;" class="index_tab__item">韩国</a>



            <a href="javascript:;" class="index_tab__item">日本</a>




        </div>

        <div class="mod_playlist mod_slide">
            <div class="slide__list js_list" style="left:0%;">
                <ul class="playlist__list">

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M0000031pHys4DQ4Yi.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>夏日风铃</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>汪苏泷</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000004QrG0q2LH1Iv.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>偕老</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>胡夏</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000001eVEHh104feH.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>不动声色</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>刘惜君</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000001gyKpf2S7f6w.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>一生的挚爱</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>许馨文</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M0000048qiJ73yYN7T.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>新壶中天</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>崔子格</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000002e7X6H1pxuiJ.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>桔梗花</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>印子月</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000001l7Tuk00hZzY.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>那时候</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>方艺谚</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000001bQaz229r9BN.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>雪落下的声音</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>秦岚</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000001SSQa72r03vG.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>父子</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>崔恕</a>

                                /
                                <a>崔荣</a>


                            </div>
                        </div>
                    </li>

                    <li class="playlist__item slide__item">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover">
                                <a><img src="//y.gtimg.cn/music/photo_new/T002R300x300M000003OBeWs0Ej1TC.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;" class="playlist__pic"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play"></i></a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt"><a>都是为了去爱你</a></span>
                            </h4>
                            <div class="playlist__author">



                                <a>叶雨欣</a>


                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
        <div class="mod_slide_switch js_switch"  data-stat="y_new.index.album.pager">
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.album.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.album.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">2</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.album.pager" data-p="2"><i class="slide_switch__bg"></i><i class="icon_txt">3</i></a>
            <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.album.pager" data-p="3"><i class="slide_switch__bg"></i><i class="icon_txt">4</i></a>
        </div>
    </div>
    <div class="mod_slide_action">
        <div class="slide_action slide_action--left">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.album.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
        </div>
        <div class="slide_action slide_action--right">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.album.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
        </div>
    </div>
</div>

<!-- 排行榜 -->
<div class="mod_index mod_index--top mod_slide_box mod_bg js_box" id="toplist_box" style="display:;">
    <div class="section_inner">
        <div class="index__hd">
            <h2 class="index__tit"><i class="icon_txt">排行榜</i></h2>
        </div>
        <a href="javascript:;" class="index__more js_more" data-type="toplist">更多<i class="icon_index_arrow sprite"></i></a>
        <div class="mod_toplist">
            <ul class="toplist__list js_list">

                <li class="toplist__item item1 mod_cover">
                    <div class="toplist__box">
                        <div class="toplist__bg"></div>
                        <i class="mod_cover__icon_play"></i>
                        <i class="toplist__line"></i>
                        <h3 class="toplist__hd"><a class="toplist__tit">流行指数</a></h3>
                        <ul class="toplist__songlist">


                            <li class="toplist__song">
                                <div class="toplist__number">1</div>
                                <div class="toplist__songname">
                                    <a>Pull&#32;Up</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>蔡徐坤</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">2</div>
                                <div class="toplist__songname">
                                    <a>最好的那年</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>TFBOYS</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">3</div>
                                <div class="toplist__songname">
                                    <a>一百万个可能</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>Christine&#32;welch</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">4</div>
                                <div class="toplist__songname">
                                    <a>倒数</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>G&#46;E&#46;M&#46;&#32;邓紫棋</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="toplist__item item2 mod_cover">
                    <div class="toplist__box">
                        <div class="toplist__bg"></div>
                        <i class="mod_cover__icon_play"></i>
                        <i class="toplist__line"></i>
                        <h3 class="toplist__hd"><a class="toplist__tit">热歌</a></h3>
                        <ul class="toplist__songlist">


                            <li class="toplist__song">
                                <div class="toplist__number">1</div>
                                <div class="toplist__songname">
                                    <a>Pull&#32;Up</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>蔡徐坤</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">2</div>
                                <div class="toplist__songname">
                                    <a>You&#32;Can&#32;Be&#32;My&#32;GirlFriend</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>蔡徐坤</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">3</div>
                                <div class="toplist__songname">
                                    <a>卡路里</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>火箭少女101</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">4</div>
                                <div class="toplist__songname">
                                    <a>That&#32;Girl</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>Olly&#32;Murs</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="toplist__item item3 mod_cover">
                    <div class="toplist__box">
                        <div class="toplist__bg"></div>
                        <i class="mod_cover__icon_play"></i>
                        <i class="toplist__line"></i>
                        <h3 class="toplist__hd"><a class="toplist__tit">新歌</a></h3>
                        <ul class="toplist__songlist">


                            <li class="toplist__song">
                                <div class="toplist__number">1</div>
                                <div class="toplist__songname">
                                    <a>Pull&#32;Up</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>蔡徐坤</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">2</div>
                                <div class="toplist__songname">
                                    <a>最好的那年</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>TFBOYS</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">3</div>
                                <div class="toplist__songname">
                                    <a>倒数</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>G&#46;E&#46;M&#46;&#32;邓紫棋</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">4</div>
                                <div class="toplist__songname">
                                    <a>卡路里</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>火箭少女101</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="toplist__item item4 mod_cover">
                    <div class="toplist__box">
                        <div class="toplist__bg"></div>
                        <i class="mod_cover__icon_play"></i>
                        <i class="toplist__line"></i>
                        <h3 class="toplist__hd"><a class="toplist__tit">欧美</a></h3>
                        <ul class="toplist__songlist">


                            <li class="toplist__song">
                                <div class="toplist__number">1</div>
                                <div class="toplist__songname">
                                    <a>Darkside</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>Alan&#32;Walker</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">2</div>
                                <div class="toplist__songname">
                                    <a>Talk</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>Why&#32;Don&#39;t&#32;We</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">3</div>
                                <div class="toplist__songname">
                                    <a>Side&#32;Effects</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>The&#32;Chainsmokers</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">4</div>
                                <div class="toplist__songname">
                                    <a>Beautiful</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>Bazzi</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="toplist__item item5 mod_cover">
                    <div class="toplist__box">
                        <div class="toplist__bg"></div>
                        <i class="mod_cover__icon_play"></i>
                        <i class="toplist__line"></i>
                        <h3 class="toplist__hd"><a class="toplist__tit">韩国</a></h3>
                        <ul class="toplist__songlist">


                            <li class="toplist__song">
                                <div class="toplist__number">1</div>
                                <div class="toplist__songname">
                                    <a>KILLING&#32;ME&#32;&#40;죽겠다&#41;</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>iKON&#32;&#40;아이콘&#41;</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">2</div>
                                <div class="toplist__songname">
                                    <a>SoulMate</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>지코&#32;&#40;Zico&#41;</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">3</div>
                                <div class="toplist__songname">
                                    <a>이&#32;노래만&#32;&#40;就这首歌&#41;</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>유주&#32;&#40;俞宙&#41;</a>
                                </div>
                            </li>

                            <li class="toplist__song">
                                <div class="toplist__number">4</div>
                                <div class="toplist__songname">
                                    <a>FREEDOM&#32;&#40;바람&#41;</a>
                                </div>
                                <div class="toplist__artist">
                                    <a>iKON&#32;&#40;아이콘&#41;</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>
<!-- MV -->
<div class="mod_index mod_index--mv mod_slide_box mod_bg js_box" id="mv_box" style="display:none;">
    <div class="section_inner">
        <div class="index__hd">
            <h2 class="index__tit"><i class="icon_txt">MV首播</i></h2>
        </div>
        <a href="javascript:;" class="index__more js_more" style="display:none;" data-type="mv">更多<i class="icon_index_arrow sprite"></i></a>
        <!-- 切换 -->
        <div class="mod_index_tab" data-stat="y_new.index.mv">
            <!-- 当前态 index_tab__item--current -->
            <a href="javascript:;" class="index_tab__item index_tab__item--current js_tag" data-index="0" data-type="mv" data-id="all">精选</a>
            <a href="javascript:;" class="index_tab__item js_tag" data-index="1" data-type="mv" data-id="neidi">内地</a>
            <a href="javascript:;" class="index_tab__item js_tag" data-index="4" data-type="mv" data-id="korea">韩国</a>
            <a href="javascript:;" class="index_tab__item js_tag" data-index="2" data-type="mv" data-id="gangtai">港台</a>
            <a href="javascript:;" class="index_tab__item js_tag" data-index="3" data-type="mv" data-id="oumei">欧美</a>
            <a href="javascript:;" class="index_tab__item js_tag" data-index="5" data-type="mv" data-id="janpan">日本</a>
        </div>
        <div class="mod_mv mod_slide">
            <div class="slide__list js_list" style="left:0%;"></div>
        </div>
        <div class="mod_slide_switch js_switch"  data-stat="y_new.index.mv.pager">
        </div>
    </div>
    <div class="mod_slide_action">
        <div class="slide_action slide_action--left">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.mv.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
        </div>
        <div class="slide_action slide_action--right">
            <a href="javascript:;" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.mv.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
        </div>
    </div>
</div>
<div class="footer" role="footer">
    <div class="section_inner">
        <div class="footer_info">

            <div class="footer_download">
                <h3 class="footer_tit">下载QQ音乐客户端</h3>
                <ul class="footer_download_list">
                    <li class="footer_download_list__item"><a href="//y.qq.com/download/" class="js_footer_down" data-type="pc" data-stat="y_new.footer.download.pc"><i class="icon_qm_pc"><span class="icon_txt">QQ音乐</span></i>PC版</a></li>
                    <li class="footer_download_list__item"><a href="//y.qq.com/download/" class="js_footer_down" data-type="mac" data-stat="y_new.footer.download.mac"><i class="icon_qm_mac"><span class="icon_txt">QQ音乐</span></i>Mac版</a></li>
                    <li class="footer_download_list__item"><a href="//y.qq.com/download/" class="js_footer_down" data-type="andriod" data-stat="y_new.footer.download.andriod"><i class="icon_qm_android"><span class="icon_txt">QQ音乐</span></i>Android版</a></li>
                    <li class="footer_download_list__item"><a href="//y.qq.com/download/" class="js_footer_down" data-type="iphone" data-stat="y_new.footer.download.iphone"><i class="icon_qm_iphone"><span class="icon_txt">QQ音乐</span></i>iPhone版</a></li>
                </ul>
            </div>

            <div class="footer_product">
                <h3 class="footer_tit">特色产品</h3>
                <ul class="footer_product_list">
                    <li class="footer_product_list__item footer_product_list__item--pic"><a href="http://kg.qq.com/?pgv_ref=qqmusic.y.topmenu" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.k"><i class="icon_qm_kg"></i>全民K歌</a></li>
                    <li class="footer_product_list__item footer_product_list__item--pic"><a href="http://y.qq.com/vip/voice_intro/index.html" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.supersound"><i class="icon_qm_ss"></i>Super Sound</a></li>
                    <li class="footer_product_list__item footer_product_list__item--pic"><a href="http://y.qq.com/y/static/down/qplay.html?pgv_ref=qqmusic.y.topmenu" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.qplay"><i class="icon_qm_qp"></i>QPlay</a></li>
                    <li class="footer_product_list__item"><a href="http://y.qq.com/y/static/down/car_introduce.html" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.car_play">车载互联</a></li>
                    <li class="footer_product_list__item"><a href="http://y.qq.com/yanchu/?pgv_ref=qqmusic.y.topmenu" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.yanchu">QQ演出</a></li>
                </ul>
            </div>

            <div class="footer_link">
                <h3 class="footer_tit">合作链接</h3>
                <!-- 显示全部 footer_link_list--show -->
                <ul class="footer_link_list">
                    <li class="footer_link_list__item"><a href="//y.qq.com/portal/company_detail.html?id=297" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">CJ E&M</a></li>
                    <li class="footer_link_list__item"><a href="http://v.qq.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">腾讯视频</a></li>
                    <li class="footer_link_list__item"><a href="http://z.qzone.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">手机QQ空间</a></li>
                    <li class="footer_link_list__item"><a href="http://im.qq.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">最新版QQ</a></li>
                    <li class="footer_link_list__item"><a href="http://e.qq.com/index.shtml" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">腾讯社交广告</a></li>
                    <li class="footer_link_list__item"><a href="http://guanjia.qq.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">电脑管家</a></li>
                    <li class="footer_link_list__item"><a href="http://browser.qq.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">QQ浏览器</a></li>
                    <li class="footer_link_list__item"><a href="http://www.weiyun.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">腾讯微云</a></li>
                    <li class="footer_link_list__item"><a href="https://cloud.tencent.com/?fromSource=gwzcw.756433.756433.756433" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">腾讯云</a></li>
                    <li class="footer_link_list__item"><a href="http://fm.qq.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">企鹅FM</a></li>
                    <li class="footer_link_list__item"><a href="http://www.znds.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">智能电视网</a></li>
                    <li class="footer_link_list__item"><a href="http://www.dangbei.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">当贝市场</a></li>
                    <!--li class="footer_link_list__item js_last" style="display:none;"><a href="http://fm.qq.com/" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">企鹅FM</a></li>
                    <li class="footer_link_list__item"><a href="javascript:;" class="js_footer_more">更多</a></li>
                    <li class="footer_link_list__item footer_link_list__item--more"><a href="https://cloud.tencent.com/?fromSource=gwzcw.756433.756433.756433" rel="noopener" target="_blank" class="js_other_link" data-stat="y_new.footer.other_link">腾讯云</a></li-->
                </ul>
            </div>
            <div class="footer_platform">
                <h3 class="footer_tit">开放平台</h3>
                <ul class="footer_platform_list">
                    <li class="footer_platform_list__item"><a href="http://y.tencentmusic.com/" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.tme">腾讯音乐人平台</a></li>
                    <li class="footer_platform_list__item"><a href="//y.qq.com/vip/daren_recruit/apply.html" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.daren_recruit">音乐号认证</a></li>
                    <li class="footer_platform_list__item"><a href="//y.qq.com/portal/mv/mv_upload.html" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.ugc">上传视频</a></li>
                    <li class="footer_platform_list__item"><a href="http://y.qq.com/cp/homepage.html#/home" target="_blank" class="js_other_link" data-stat="y_new.footer.other_music.cp">上传音频</a></li>


                </ul>
            </div>
        </div>
        <div class="footer_copyright">

            <p >
                <a href="http://www.tencent.com/" rel="noopener nofollow" target="_blank" title="关于腾讯">关于腾讯</a> |
                <a href="http://www.tencent.com/index_e.shtml" rel="noopener nofollow" target="_blank" title="About Tencent">About Tencent</a> |
                <a href="http://www.qq.com/contract.shtml" rel="noopener nofollow" target="_blank" title="服务条款">服务条款</a> |
                <a href="http://y.qq.com/y/static/tips/service_tips.html" rel="noopener nofollow" target="_blank" title="用户服务协议">用户服务协议</a> |
                <a href="http://www.qq.com/privacy.htm" rel="noopener nofollow" target="_blank" title="隐私政策">隐私政策</a> |
                <a href="https://y.qq.com/vip/right_declare/index.html" rel="noopener nofollow" target="_blank" title="权利声明">权利声明</a> |
                <a href="http://www.tencentmind.com/" rel="noopener nofollow"" target="_blank" title="广告服务">广告服务</a> |
                <a href="http://hr.tencent.com/" rel="noopener nofollow" target="_blank" title="腾讯招聘">腾讯招聘</a> |
                <a href="http://service.qq.com/" rel="noopener nofollow" target="_blank" title="客服中心">客服中心</a> |
                <a href="http://www.qq.com/map/" rel="noopener nofollow" target="_blank" title="网站导航">网站导航</a>
            </p>

            <p>Copyright &copy; 1998 - <script type="text/javascript">document.write(new Date().getFullYear());</script> Tencent. <a target="_blank" href="http://www.tencent.com/en-us/le/copyrightstatement.shtml" rel="noopener nofollow" title="All Rights Reserved.">All Rights Reserved.</a></p>
            <p>腾讯公司 <a  target="_blank" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml" rel="noopener nofollow" title="版权所有">版权所有</a> <a  target="_blank" href="http://www.tencent.com/law/mo_law.shtml?/law/copyright.htm" rel="noopener nofollow" title="腾讯网络文化经营许可证">腾讯网络文化经营许可证</a></p>
        </div>
    </div>
</div>



</body>
</html>
